.Header {
  background-color:#24292e;
  padding: 15px;
  display: flex;
  &-Left {
    color: #fff;
    flex: 1 1 auto;
  }
  &-Right {
    flex: 0 0 160px;
    color: #fff;
    text-align: right;
    margin-right: 10px;
  }
  &-showLangDropdown {
    display: block!important;
    top: unset!important;
    left: unset!important;
  }
}