.ItemCard {
  border-top: 1px solid #e1e4e8;
  display: flex;
  &:first-child {
    border-top: none;
  }
  &-Left{
    flex: 1 1 auto;
    padding: 15px;
    &:hover {
      text-decoration: none!important;
    }
    &-Item {
      color: #000;
    }
    &-name {
      padding-bottom: 5px;
      font-size: 18px;
    }
    &-price {
      margin-right: 10px;
    }
    &-date {
      font: {
        weight: 400;
        size: 13px;
      }
      color: #a5a5a5;
    }
    &-status {
      font-size: 13px;
      color: #a5a5a5;
    }
  }
  &-Right {
    padding: 15px;
    flex: 0 0 150px;
    text-align: center;
  }
  &-Seller-Name {
    font: {
      weight: 500;
      size: 13px;
    }
  }
  &-Seller-Phone {
    font-size: 11px;
  }
  &:hover {
    background-color: #f6f8fa;
  }
  &:first-child:hover {
    border-radius: 5px 5px 0 0;
  }
}