.ItemCard:first-child {
  border-top: none;
}
.ItemCard {
  border-top: 1px solid #e1e4e8;
  display: flex;
}
.ItemCard-Left {
  flex: 1 1 auto;
  padding: 10px;
}
.ItemCard-Left:hover {
  text-decoration: none!important;
}
.ItemCard-Left-Item {
  color: #000;
}
.ItemCard-Right {
  padding: 10px;
  flex: 0 0 150px;
  text-align: center;
}
.ItemCard-Seller-Name {
  font-weight: 500;
  font-size: 13px;
}
.ItemCard-Seller-Phone {
  font-size: 11px;
}