@mixin orderCell() {
  padding: 7px;
  font-size: 14px;
  color: #888;
}

.OrderRow {
  padding: 0 10px;
  border-top: 1px solid #e1e4e8;
  display: flex;
  &:first-child {
    border-top: none;
  }
  &:hover {
    background-color: #f6f8fa;
  }
  &:first-child:hover {
    border-radius: 5px 5px 0 0;
  }

  &-id {
    @include orderCell();
    flex: 0 0 110px;
  }
  &-info {
    @include orderCell();
    font-weight: 500;
    color: #000;
    flex: 1 1 auto;
  }
  &-price {
    @include orderCell();
    flex: 0 0 70px;
  }
  &-seller {
    @include orderCell();
    flex: 0 0 150px;
  }
  &-status {
    @include orderCell();
    flex: 0 0 70px;
  }
}